.timeline {
  position: relative;
  padding:4px 0 0 0;
  margin-top:22px;
  list-style: none;
}

.timeline>li:nth-child(even) {
  position: relative;
  margin-bottom: 50px;
  height: 180px;
  right:-100px;
}

.timeline>li:nth-child(odd) {
  position: relative;
  margin-bottom: 50px;
  height: 180px;
  left:-100px;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
  min-height: 170px;
}

.timeline > li .timeline-panel {
position: relative;
float: left;
width: 41%;
padding: 0 20px 20px 30px;
text-align: right;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 50%;
  border: 7px solid #3b5998;
  border-radius: 100%;
  background-color: #3b5998;
  box-shadow: 0 0 5px #4582ec;
  width: 200px;
  height: 200px;
  margin-left: -100px;
}

.timeline>li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 30px 20px 20px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
margin-top:22px;
  margin-bottom: 4px;
  padding:0;
  color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
margin:0;
padding:0;
  text-transform: none;
  font-size:18px;
  color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0;
  color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 690px;
  width: 4px;
  height:340px;
  background-color: #3b5998;
  -ms-transform: rotate(-44deg); /* IE 9 */
  -webkit-transform: rotate(-44deg); /* Safari */
  transform: rotate(-44deg);
  box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 450px;
  width: 4px;
  height:340px;
  background-color: #3b5998;
  -ms-transform: rotate(44deg); /* IE 9 */
  -webkit-transform: rotate(44deg); /* Safari */
  transform: rotate(44deg);
  box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
.timeline > li:nth-child(even) {
  margin-bottom: 0px;
  min-height: 0px;
  right: 0px;
}
.timeline > li:nth-child(odd) {
  margin-bottom: 0px;
  min-height: 0px;
  left: 0px;
}
.timeline>li:nth-child(even) .timeline-image {
  left: 0;
  margin-left: 0px;
}
.timeline>li:nth-child(odd) .timeline-image {
  left: 690px;
  margin-left: 0px;
}
.timeline > li:nth-child(even) .timeline-panel {
  width: 76%;
  padding: 0 0 20px 0px;
  text-align: left;
}
.timeline > li:nth-child(odd) .timeline-panel {
  width: 70%;
  padding: 0 0 20px 0px;
  text-align: right;
}
.timeline > li .line {
  display: none;
}
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
.timeline > li:nth-child(even) {
  margin-bottom: 0px;
  min-height: 0px;
  right: 0px;
}
.timeline > li:nth-child(odd) {
  margin-bottom: 0px;
  min-height: 0px;
  left: 0px;
}
.timeline>li:nth-child(even) .timeline-image {
  left: 0;
  margin-left: 0px;
}
.timeline>li:nth-child(odd) .timeline-image {
  left: 520px;
  margin-left: 0px;
}
.timeline > li:nth-child(even) .timeline-panel {
  width: 70%;
  padding: 0 0 20px 0px;
  text-align: left;
}
.timeline > li:nth-child(odd) .timeline-panel {
  width: 70%;
  padding: 0 0 20px 0px;
  text-align: right;
}
.timeline > li .line {
  display: none;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
.timeline > li:nth-child(even) {
  margin-bottom: 0px;
  min-height: 0px;
  right: 0px;
}
.timeline > li:nth-child(odd) {
  margin-bottom: 0px;
  min-height: 0px;
  left: 0px;
}
.timeline>li .timeline-image {
  position: static;
  width: 150px;
  height: 150px;
  margin-bottom:0px;
}
.timeline>li:nth-child(even) .timeline-image {
  left: 0;
  margin-left: 0;
}
.timeline>li:nth-child(odd) .timeline-image {
  float:right;
  left: 0px;
  margin-left:0;
}
.timeline > li:nth-child(even) .timeline-panel {
  width: 100%;
  padding: 0 0 20px 14px;
}
.timeline > li:nth-child(odd) .timeline-panel {
  width: 100%;
  padding: 0 14px 20px 0px;
}
.timeline > li .line {
  display: none;
}
}



















.main-timeline{ font-family: 'Josefin Sans', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    margin: 0 5px 0 0;
    float: left;
}
.main-timeline .timeline-content{
    color: #333;
    padding: 30px 80px 30px 100px;
    border-radius: 30px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: '';
    background-color: #6E13AE;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 70px;
    right: 0;
    z-index: -1;
}
.main-timeline .timeline-content:after{
    background-color: rgba(255,255,255,0.8);
    right: 55px;
    left: 0;
    top: 0;
    bottom: 10px;
}
.main-timeline .timeline-year{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    transform: translateY(-50%) rotate(-90deg);
    position: absolute;
    top: calc(50% + 5px);
    right: -10px;
    z-index: 1;
}
.main-timeline .timeline-icon{
    font-size: 30px;
    font-weight: 600;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
}
.main-timeline .title{
    color: #6E13AE;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px;
}
.main-timeline .description{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    margin: 0 0 0 5px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 30px 100px 30px 80px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: 0;
    right: 70px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    right: 0;
    left: 55px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: 20px;
    left: auto;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background-color: #FD5902; }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #FD5902; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background-color: #4C63FF; }
.main-timeline .timeline:nth-child(4n+3) .title{ color: #4C63FF; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background-color: #F71D51; }
.main-timeline .timeline:nth-child(4n+4) .title{ color: #F71D51; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 20px 0;
    }
}
@media screen and (max-width:479px){
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 70px 40px;
    }
    .main-timeline .timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:after{
        top: 50px;
        bottom: 0;
        left: 10px;
    }
    .main-timeline .timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        bottom: 50px;
        top: 0;
        right: 10px;
    }
    .main-timeline .timeline .timeline-year{
        transform: translateY(0) rotate(0);
        top: auto;
        bottom: 7px;
        right: 20px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{
        top: 12px;
        left: 20px;
    }
    .main-timeline .timeline .timeline-icon{
        transform: translateY(0);
        top: 7px;
        left: 30px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        top: auto;
        bottom: 1px;
        right: 30px;
    }
}
