{% autoescape off %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Hi there {{user.username}} </h2>

You registered an account on [Aviato Swap]<br />before being able to use your account you need to verify<br />that your account will activate by clicking here:  
<a href = "http://{{domain}}/{% url 'activate' uidb64=uid token=token %}" style="text-decoration: none; color: limegreen;">[Click here]</a><br />

best regards, Aviato Swap
</body>
</html>
{% endautoescape %}