<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<!--     <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" /> -->
    <!-- <link rel="icon" href="{% static 'TuringLogo.jpg' %}"> -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>



<body style='background-color: rgb(204, 202, 202);'>
    <div id="wallpaper">
        <img src="{% static 'img/signup.jfif' %}"
            style="height: 867px; width: 1400px; z-index: -2; position:absolute; filter: blur(4px);">

        <div id="title">


            <!-- logo -->
            <div id="logo"> 
                <h1 id="logotxt"> AVIATO </h1>
            </div>


            <!-- buuttons -->
            <div id="buttons">
                <button class="home"><a class='button_link' href="https://github.com/ParsaAminpour/Aviato-Swap"> Source </a></button>

		<button class="marketplace"> <a class='button_link' href="http://127.0.1:8000/chat/rooms/">
                        Chatroom </a></button>

                {% if user.is_authenticated %}
                <button class="create"> <a class='button_link' href="/profile/"> Profile
                    </a> </button>
                {% endif %}

                {% if not user.is_authenticated %}
                <button class="source"> <a class='button_link' href="/signup/"> SignUp
                    </a> </button>
                {% endif %}

                {% if not user.is_authenticated %}
                <button class="about"> <a class='button_link' href="/login/"> Login
                    </a></button>
                {% endif %}

            </div>

        </div>





        <div id="content">

            <div id="des1">
                <h1 style="color: white; line-height: 70px; font-size: 60px; margin-left: 20px;">
                    Discover, Collect, and<br>
                    sell your own extraordinary<br>
                    code NFTs
                </h1>
                <article style="color: whitesmoke; font-style:normal; font-size:larger; line-height: 38px; margin-left: 35px;">
                    <h2> On the world's first <br>
                        Let's watch the codes from <br>
                        a new respensive
                    </h2>
                </article>

                <button id='start_solving'><a href="/swap/" style="text-decoration: none; color: black; font-size:18px"> Trading </a></button>

                <button id='start_solving'><a href="/donation/" style="text-decoration: none; color: black; font-size:18px"> Buy me a coffe </a></button>
            </div>

            <div id="image_content">
                <img src="{% static 'img/cryptopunk2294.png' %}"
                style="width: 510px; height: 480px; position: absolute; border-radius: 25px; filter: opacity(95%);">
            </div>

        </div>

    </div>


<script src="{% static 'js/home.js' %}"></script>


</body>
</html>
