<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <link rel="icon" href="{% static 'TuringLogo.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>



<body style='background-color: rgb(204, 202, 202);'>
    <div id="wallpaper">
        <img src="{% static 'img/signup.jfif' %}"
            style="height: 867px; width: 1400px; z-index: -2; position:absolute; filter: blur(4px);">

        <div id="title">


            <!-- logo -->
            <div id="logo">
                <!-- <img src="asteria_logo.jpg" alt="asteria_logo" width="100" height="100"> -->
                <h1 id="logotxt"> AVIATO </h1>
            </div>


            <!-- buuttons -->
            <div id="buttons">
                <button class="home"><a class='button_link' href="https://github.com/AminpourParsa/Swap"> Source </a></button>

                <button class="marketplace"> <a class='button_link' href="#">
                        Chatroom </a></button>
                
                {% if user.is_authenticated %}
                <button class="create"> <a class='button_link' href="/profile/"> Profile
                    </a> </button>
                {% endif %}

                {% if not user.is_authenticated %}
                <button class="source"> <a class='button_link' href="/signup/"> SignUp
                    </a> </button>
                {% endif %}

                {% if not user.is_authenticated %}
                <button class="about"> <a class='button_link' href="/login/"> Login
                    </a></button>
                {% endif %}
                <!-- <button class="register"><a href="http://127.0.0.1:5050/register" target="_blank" style="color: black;" > Register
                    </a></button>
                <button class="login"><a href="http://127.0.0.1:5050/login" target="_blank" style="color: black;"> Login </a></button> -->
            </div>


            <div id="other">
                {% if user.is_authenticated %}
                <button id='metamask' class="disconnect-metamask"> CONNECT WALLET </button>
                <p id="address" style="margin-top:50px"></p>
                {% endif %}
            </div>

        </div>





        <div id="content">

            <div id="des1">
                <h1 style="color: white; line-height: 70px; font-size: 60px; margin-left: 20px;">
                    Discover, Collect, and<br>
                    sell your own extraordinary<br>
                    code NFTs
                </h1>
                <article style="color: whitesmoke; font-style:normal; font-size:larger; line-height: 38px; margin-left: 35px;">
                    <h2> On the world's first <br>
                        Let's watch the codes from <br>
                        a new respensive
                    </h2>
                </article>

                <button id='start_solving'><a href="/swap/" style="text-decoration: none; color: black; font-size:18px"> Trading </a></button>

                <!-- End of des div -->
            </div>

            <div id="image_content">
                <img src="{% static 'img/erlich.jpg' %}"
                style="width: 510px; height: 420px; position: absolute; border-radius: 25px; filter: opacity(95%);">
            </div>

        </div>

    </div>



<!-- <div id="information">

    <div style="position: absolute; height: 250px; width: 330px;">
        <img src="{% static 'img/info.jpg' %}" alt="info-wall" style="height: 250px; width: 330px; position: absolute;">
    </div>

    <form action="/uploaded" enctype="multipart/form-data" method="POST">
        <input type="file" name="upload" id="upload" class="custom-file-input">
        <label for="upload"> Choose file </label>
        <p> {{send_accept}}</p> <p> {{send_error}} </p>
        <br>
        <input type="submit" value="upload" class="upload-submit">
    </form>

</div>
 -->





<script src="{% static 'js/home.js' %}"></script>


</body>
</html>
