<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>login</title>

</head>



<body 
style="background-color:white;
    position: fixed; top: 0; left: 0; min-width: 100%; 
        min-height: 100%;">
    
<!-- Rigth div: -->
<div id="right">
<img src="{% static 'img/36c68de72c5a17ab53c0c1f55281840b.jpg' %}" alt="right_wallpaper"
    style="
min-height: 100%;
min-width: 100%;
width: auto;
height: auto;
margin: 0;
padding: 0;">
</div>


<div id="left">
<h1 id="logotxt"> AVIATO </h1>

<h1 id="logintxt"> Login </h1>
<p id="sublogin"> Join us in this revolute </p>


<form method="POST"> {% csrf_token %}
    {{form.username}}
    {{form.password}}
    <button type="submit" id="login"> Login </button>
</form>
</div>
















</body>
</html>