<!DOCTYPE html>
<html lang="en">
{% load static %}
<!-- {% if user.is_authenticated %} -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="assets/imgs/inaya_pfp.gif"> -->
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
    integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    ></script>

    <script src="https://cdn.rawgit.com/ethereumjs/browser-builds/2fb69a714afe092b06645286f14b94f41e5c062c/dist/ethereumjs-tx.js"></script>


    <title>Profile</title>
</head>

<body>
{{ request.user.id|json_script:"user_id" }}
    <header>
        <nav>
            <div class="header_logo">
                <img src="{% static 'img/profile_gif1.gif' %}" alt="">
            </div>
            <div class="header_links">

                
                <ul class="nav_links">
                    <li class="nav_link"><a href="/profile/edit/">Edit Profile</a></li>
                    <li class="nav_link"><a href="/home/">Home</a></li>
                    <form action="logout/" method="POST"> {% csrf_token %}
                        {% if user.is_authenticated %}
                            <a href="/logout/" onclick="document.getElementById('loggingout').submit()">
                            <button type="button" id="loggingout" class="logout"> Logout </button>
                        </a>
                        {%  endif %}
                    </form>

                    <div id="other">
                        {% if user.is_authenticated %}
                            <button id='meta' class="disconnect-metamask"> CONNECT WALLET </button>
                        {% endif %}
                    </div>
                </ul>


            </div>
        </nav>

    </header>

    <section class="main">
        {% if user.profile_pic %}
            <img src="{{user.get_profile_pic.url}}" alt="" srcset="">
        {% else %}
          <img src="{% static 'images/unknown.jpg' %}" alt="">
        {% endif %}

        
        <span>{{user.username}}</span>
        {% if user.wallet %}
            <p id="wallet_addr">{{user.wallet_address}}</p>
        {% endif %}
            <ul>
            <li><a target="_blank" href="https://discord.gg/JuEeGweHrb"><i class="fab fa-discord" id="discord"></i></a></li>
            <li><a target="_blank" href="https://github.com/KanekiWeb"><i class="fab fa-github" id="github"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UC-XII5SSqbMOF1UX3N0Gl8g"><i class="fab fa-youtube" id="youtube"></i></a></li>
        </ul>
    </section>


    <section>
        <center> {{user.about}} </center>
    </section>


<script type="module" src="{% static 'js/profile.js' %}"></script>

</body>
<!-- {% endif %} -->
</html>
