<!DOCTYPE html>
<html lang="en">
{% load static %}
{% if user.is_authenticated %}
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/imgs/inaya_pfp.gif">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous">
</head>
<body>

    <header>
        <nav>
            <div class="header_logo">
                <img src="{% static 'img/profile_gif1.gif' %}" alt="">
            </div>
            <div class="header_links">
                <ul class="nav_links">
                    <li class="nav_link"><a href="/profile/edit/">Edit Profile</a></li>
                    <li class="nav_link"><a href="/home/">Home</a></li>
                    <form action="logout/" method="POST"> {% csrf_token %}
                        {% if user.is_authenticated %}
                            <a href="/logout/" onclick="document.getElementById('loggingout').submit()">
                          <button type="button" id="loggingout" class="logout"> Logout </button>
                        </a>
                        {%  endif %}
                    </form>
                </ul>
            </div>
        </nav>

    </header>

    <section class="main">
        {% if user.profile_pic %}
            <img src="{{user.get_profile_pic.url}}" alt="" srcset="">
        {% else %}
          <img src="{% static 'images/unknown.jpg' %}" alt="">
        {% endif %}

        
        <span>{{user.username}}</span>
        {% if user.wallet %}
            <p>{{user.wallet_address}}</p>
        {% endif %}
            <ul>
            <li><a target="_blank" href="https://discord.gg/JuEeGweHrb"><i class="fab fa-discord" id="discord"></i></a></li>
            <li><a target="_blank" href="https://github.com/KanekiWeb"><i class="fab fa-github" id="github"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UC-XII5SSqbMOF1UX3N0Gl8g"><i class="fab fa-youtube" id="youtube"></i></a></li>
        </ul>
    </section>


    <section>
        <center> {{user.about}} </center>
    </section>

    <!-- <script src="{% static 'js/profile.js' %}"></script> -->
    <script>
        let $ = document

        let github = $.getElementById('github')
        let discord = $.getElementById('discord')
        let youtube = $.getElementById('youtube')

        window.onload = () => {
            if (localStorage.getItem('github') == null) {
                github.style.display = 'none'
            } else {
                github.style.display = 'block'
            }
            
            if (localStorage.getItem('discord') == null) {
                discord.style.display = 'none'
            } else {
                discord.style.display = 'block'
            }

            if (localStorage.getItem('discord') == null) {
                youtube.style.display = 'none'
            } else {
                youtube.style.display = 'block'
            }
        }
    </script>
</body>
{% endif %}
</html>