aiofiles==0.8.0
aiohttp==3.7.4.post0
asgiref==3.3.0
attr==0.3.1
attrs==21.2.0
beautifulsoup4==4.11.1
Django==4.0.4
djangorestframework==3.13.1
matplotlib==3.5.1
numpy==1.21.4
python-dotenv==0.20.0
PyYAML==6.0
requests==2.25.1
rich==12.4.4
six==1.15.0
stripe==3.3.0
